#loading {
    text-align: center;
    margin-top: 50px;
}

#loading img {
    width: 700px;
}

#container {
    /* border: 1px solid; */
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
}

.card {
    /* border: 1px solid; */
    width: 80%;
    height: 580px;
    padding: 2rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    transition: all 1s;
    text-align: center;
}

.card h2 {
    font-size: 28px;
    letter-spacing: 1px;
}

.card h4 {
    font-size: 22px;
    font-weight: 500;
}

.card p {
    font-size: 19px;
    letter-spacing: 1px;
    opacity: 0.8;
}

.card:hover {
    scale: 1.05;
}

.card img {
    padding: .5rem;
    /* width: 50%; */
    height: 250px;
}